

 /* Defining colors for the elements*/
body {
    background-color: rgb(89, 112, 116);
  }
  

  h1 {
    color: rgb(248, 248, 248);
    text-decoration: dotted;
    text-align: center;
    max-height: 800px;
    max-width: 2000px;
  }

  h2 {
    color: rgba(250, 170, 10);
    text-align: center;
  }
  h3 {
    color: hsl(171, 100%, 50%);
    text-align: center;
  }
  h4{
    color: #ff00ea;
    text-align: center;
    max-height: 900px;
    max-width: 3000px;
  }

  p{
    margin: 30px 30px 40px 40em;
    padding: 5vh 5vh 2vw 2vw;
  }

  /* Blocks */
 

  .box {
    display: inline-block;
    position: static;
    margin-top: 100px;
    margin-right: 300px;
    margin-bottom: 400px;
    margin-left: 4em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;
  }


  .FromTheLastMeeting{
    display: inline;
    margin-top: 100px;
    margin-right: 300px;
    margin-bottom: 400px;
    margin-left: 4em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .TodaySAgenda{
    position: relative;
    display: inline;
    height: 300px;
    width: 3000px;
    max-height: 800px;
    max-width: 3000px;
    margin: auto;
  }
  .PeopleInAttendance{
    position: static;
    top: 20px; left: 30px;
    display: flex;
    height: 150px;
    width: 3000px;
    margin-top: 100px;
    margin-right: 300px;
    margin-bottom: 400px;
    margin-left: 4em;
  }
  .ForToday{
    display: grid;
    height: 300px;
    width: 1000px;
    margin-top: 100px;
    margin-right: 300px;
    margin-bottom: 400px;
    margin-left: 4em;
  }
  button:hover {
    color: rgb(255, 0, 170);
  }

  button:active {
    color: rgb(255, 0, 0);
  }

  @media only screen and (max-height: 1000px) {
    h1 {
      background-color: rgb(255, 0, 0);
    }
  }

